HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
Sera borrado .gitignore
Sera borrado build.gradle
Sera borrado gradle/
Sera borrado gradlew
Sera borrado gradlew.bat
Sera borrado settings.gradle
Sera borrado src/
Sera borrado src/main/resources/static/
Sera borrado src/main/resources/templates/
Sera borrado src/main/java/com.ps.formacion/application/
Sera borrado src/main/java/com.ps.formacion/domain/
Sera borrado src/main/java/com.ps.formacion/infrastructure/
Sera borrado src/main/java/com.ps.formacion.shared/
